@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background: #F0F4F8;
  }
}

@layer components {
  .container {
    @apply max-w-[1900px];
  }
  .gradient__blue {
    background: linear-gradient(90deg, #1276ec 0%, #009cff 100%), #00a3ff;
  }

  .spiner {
    transform: rotate(0deg);
    top: -80px;
    left: 2%;
    transition: 1s ease-in-out;
  }

  .spin {
    left: 92%;
    transform: rotate(1440deg);
  }

  @media screen and (max-width: 768px) {
    .spiner {
      top: 20px;
    }
    .spin {
      top: 90%;
      left: 2%;
    }
  }

  .spiner-enter-active {
    animation: spiner-in 0.5s;
  }
  .spiner-leave-active {
    animation: spiner-in 0.5s reverse;
  }
  @keyframes spiner-in {
    0% {
      opacity: 1;
      transform: translateX(10vw);
    }
    50% {
      /* transform: scale(1.10); */
    }
    100% {
      opacity: 1;
      transform: translateX(90vw);
      /* transform: scale(1); */
    }
  }


  .card {
    transform: scaleX(0);
    /* width: inh; */
  }
  
  .card__active {
    padding: 1rem 2rem;
    transform: scaleX(1);
  }

  
}
